/* GENERAL STUFF */

@font-face {
    font-family: 'source';
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source-light';
    src: url('fonts/source-sans-pro/SourceSansPro-ExtraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'source';
}

h1, h2, h3, h4 {
  font-family: 'source-light';
}
.header {
  text-align: center;
}

.book-title {
  text-align: center;
}
.header h1 {
  font-size: 50px;
}

.chapter-image {
  width: 100%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  image-rendering: pixelated;
}

  @font-face {
      font-family: 'typewriter';
      src: url('fonts/nimbus-mono/nimbusmono-regular.otf') format('opentype'); font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'typewriter';
      src: url('fonts/nimbus-mono/nimbusmono-bold.otf') format('opentype');
      font-weight: bold;
      font-style: normal;
  }
  @font-face {
      font-family: 'typewriter';
      src: url('fonts/nimbus-mono/nimbusmono-boldoblique.otf') format('opentype');
      font-weight: normal;
      font-style: italic;
  }

  @font-face {
      font-family: 'typewriter-heading';
      src: url('fonts/bptypewrite/BPtypewriteStrikethrough.ttf') format('opentype');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'typewriter-small-heading';
      src: url('fonts/bptypewrite/BPtypewrite.otf') format('opentype');
      font-weight: normal;
      font-style: normal;
  }


.note {
  border-left: none;
  color: red;
  padding: 20px;
}

.note:before {
  display: block;
  content: "note: "
}



.chapter-one {

  font-family: 'typewriter';
  font-weight: bold;

  ---blockquote {
    font-family: 'typewriter-small-heading';
    padding: 100px 30px;
    font-size: 25px;
    transform: rotateZ(1deg); 
    border-image: linear-gradient(to bottom, white, black, white) 1;
    background-image: url('assets/noise.jpg');
    opacity: 0.8;
    color: blue;
  }

  --blockquote p {
    border-width: 0 !important;
  }


  h1 {
    font-family: 'typewriter-heading';
    font-size: 35px;
  }

  h1 a {
    color: black;
  }

  h2 { 
    font-family: 'typewriter-small-heading';
    font-size: 25px;
  }

  .content {
  }

  .chapter-underline {
    background-color: gray;
  }


  .button {
    font-family: 'typewriter-small-heading';
  }


  .art {
    image-rendering: pixelated;
  }


  p {
    padding: 0 20px;
    border-width: 0px 1px;
    border-style: solid;
  }

  p:nth-child(odd) {
    transform: rotateZ(1deg); 
    border-image: linear-gradient(to bottom, white, black, white) 1;
  }

  p:nth-child(even) {
    transform: rotateZ(-2deg);
    border-image: linear-gradient(to bottom, grey, white) 1;
  }

  .artwork {
    position: relative;
  }

  .artwork h1 {
    position: absolute;
    bottom:2px;
    left: 50px;
    background-color: white;
    padding: 10px;
  }
  .artwork canvas {
    width: 100%;
    margin: 10% auto;
    border: 4px solid black;
    display: block;
  }

}
