
<div class="book-title">
  <a href="{{site.baseurl}}/confusion-breeds-clarity/">
  <h1>The facility</h1>
  </a>
</div>

  <article class="chapter-preview">
    <canvas class="art chapter-image" width="200px", height="100px" data-pixel="1" data-repeat="2000" data-colors="black,pink,grey">
    <splasher data-size="intensoReversed" data-size-params="50" data-map="diagonals" data-params="1000"></splasher>
    </canvas>
  </article>

  <div id="perm-quotes">
  {% for post in site.confusion-breeds-clarity%}
    {% if post.quote %}
    <blockquote class="quote">
        {{post.quote}}
        <p>from <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </p>
    </blockquote>
    {% endif %}
  {% endfor %}
  </div>

  <script>
    var getRandomInt = (max) => {
      return Math.floor(Math.random() * Math.floor(max));
    }
    addEventListener("load", () => {
        var quote = document.getElementById('perm-quotes')
        var quotesArray = Array.prototype.slice.call(quote.children)
        var quoteIndex = getRandomInt(quotesArray.length)
        quotesArray.forEach((quote, i) => {
              if (i === quoteIndex) {
                quote.setAttribute("style", 'display:block')
                } else {
                quote.setAttribute("style", 'display:none')
                }
        })
    })
  </script>

  {% for post in site.confusion-breeds-clarity%}
    <article class="chapter-preview">
      <a href="{{site.baseurl}}{{post.url}}">
        <p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <i>{{ post.subtitle }}</i>
        </p>
      </a>
    </article>
  {% endfor %}

  <!--
  <a href="{{site.baseurl}}/confusion-breeds-clarity-full"><i>Full text (printable version)</i></a>
  -->
